@import "@/styles/variables.scss";

.container {
    width: fit-content;
    margin: 0 auto;
    padding: 16px 0px;
    margin-bottom: 40px;
}

@media screen and (min-width: $tablet) {
    .container {
        padding: 16px;
        margin-bottom: 120px;
    }
}