@import "../variables.scss";

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 24px;
    margin-top: auto;
    background-color: $dark-green;
}

@media screen and (min-width: $desktop) {
    footer {
        gap: 64px;
        padding: 120px 160px;
    }
}