@import "../variables.scss";

header {
    position: relative;
    padding: 8px 24px;
    background-color: $white;
    z-index: 10;
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        .bar {
            width: 18px;
            height: 2px;
            background-color: $black;
            border-radius: 10px;

            &:first-child {
                position: absolute;
                top: 6px;
            }

            &:last-child {
                position: absolute;
                bottom: 6px;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    header {
        padding: 16px 80px 8px;

        .hamburger {
            display: none;
        }
    }
}