@import "@styles/variables.scss";

.navigation {
    width: 100%;
    display: none;
    justify-content: space-between;

    .navLinks {
        list-style: none;
        display: flex;
        gap: 80px;

        .navLink {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            color: $dark-gray;
            text-decoration: none;
            padding: 10px 24px;
            border-bottom: 1px solid $white;
            text-shadow: 0px;
            transition: .3s;

            &.active,
            &:hover {
                text-shadow:
                -.33px -.33px 0 $dark-green,
                .33px -.33px 0 $dark-green,
                -.33px .33px 0 $dark-green,
                .33px .33px 0 $dark-green;
                color: $dark-green;
                border-bottom: 1px solid $primary;
            }
        }
    }

    .btnsContainer {
        display: flex;
    }
}

@media screen and (min-width: $desktop) {
    .navigation {
        display: flex;
    }
}