// colors
$white: #FFFFFF;
$black: #252627;
$primary: #1BE3BF;
$secondary: #D6FCF5;
$green: #22C55E;
$light-green: #F3FFFD;
$dark-green: #084338;
$gray: #D0D5DD;
$light-gray: #94A9A5;
$ultra-light-gray: #ECECEC;
$dark-gray: #5A6A67;

// breakpoints
$tablet: 768px;
$desktop: 1068px;