@import "@/styles/variables.scss";

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 40px 24px;

    .text {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .titleContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        p {
            width: 100%;
            font-size: 18px;
            line-height: 130%;
        }
    }

    .image {
        position: relative;
        width: 100%;
        margin-right: -24px;
    }

    &.image-right {
        padding: 40px 0px;

        .text {
            padding-inline: 24px;
        }
    }
}

@media screen and (min-width: $tablet) {
    .section {
        flex-direction: row;
        justify-content: space-around;
        padding: 120px 55px 0px 24px;
        max-height: 500px;

        .text {
            padding-inline: 0px;
            margin: 0;

            .titleContainer {
                max-width: 650px;
            }

            p {
                max-width: 435px;
                line-height: 150%;
            }
        }

        .image {
            margin-top: -55px;
        }

        &.imageRight {
            justify-content: space-between;

            .text {
                margin: 0 auto;
            }
            .image {
                margin-right: -55px;
            }
        }
    }
}